<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- links para llamar archivos css y archivo css iconos redes sociales -->
    <link rel="stylesheet" href="css/style1.css" />
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" href="css/style3.css" />
    <link rel="stylesheet" href="css/style4.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>pagina de contacto</title>
  </head>

  <body>
    <header>
      <div class="fondo_container">
        <div class="texto">
          <h1>PrimeraClaseRelojes.com</h1>
          <p>¡Bienvenido/a a nuestra página de contacto!</p>
        </div>
      </div>
    </header>
    <!-- esta es la barra de navegacion actualizada -->
    <div>
      <nav>
        <ul class="navbar">
          <li><a href="./index.html">Home</a></li>
          <li><a href="/productos.html">productos </a></li>
          <li><a href="/contacto.html">contacto</a></li>
          <li>
            <a href="/contacto.html">Presupuestos</a>
          </li>
        </ul>
      </nav>
    </div>
    <br /><br /><br /><br />
    <section>
      <p id="contactotex">
        ¡Bienvenidos a nuestra página de contacto! En PrimeraClaseRelojes.com
        entendemos que comprar un reloj de alta gama es una experiencia especial
        que requiere atención personalizada a los detalles y orientación de
        expertos. Es por eso que hemos formado un equipo compuesto únicamente
        por especialistas certificados en relojes que estarán encantados de
        brindarte su apoyo. Te ofrecemos diferentes formas de ponerte en
        contacto con nosotros. ¿Tienes alguna pregunta, comentario, solicitud
        especial o queja? Estás en buenas manos con nuestro equipo. Echa un
        vistazo a nuestra ubicacion y horarios puedes encontrar nuestra tienda
        fisica o llamarnos a nuestro numero de atencion al cliente.
      </p>
      <br /><br /><br />
      <!-- imagen de mapa direccion de empresa  -->
      <img
        class="dimencion-photos"
        src="img/MAPA_local_relojes.png"
        alt="localizacion tienda"
      />
    </section>
    <br /><br /><br />
    <div class="contacto">
      <!--  aqui tres columnas info de contacto -->
      <div class="columna">
        <h2>Horarios de apertura</h2>
        <br />
        Lunes 09:00 - 17:30 <br />
        Martes 09:00 - 17:30 <br />
        Miércoles 09:00 - 17:30 <br />
        Jueves 09:00 - 17:30 <br />
        Viernes 09:00 - 17:30 <br />
        Sábado cerrado <br />
        Domingo cerrado
      </div>
      <div class="columna">
        <h2>Llamanos</h2>
        <br />
        Cuidado, amantes del reloj! ¿Te gustaría el consejo de un experto sobre
        tu pregunta/compra de reloj? No dudes en ponerte en contacto, nos
        encantaria ayudarte. <br />
        +34 911 238 900
      </div>
      <div class="columna">
        <h2>Envianos un correo electronico</h2>
        ¿Prefieres enviar un correo electrónico? Envíanos tu pregunta/comentario
        a través del formulario de contacto. Nuestros especialistas en relojes
        dedicados están listos para ayudarte con tus preguntas, comentarios,
        solicitudes o quejas. Si deseas adjuntar archivos, también puedes enviar
        un correo electrónico a info@primeraclaserelojes.com
      </div>
    </div>
    <!-- aqui el footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Ubicaccion</h4>
            <!-- direccion requerida en footer -->
            <h3>Calle andarella <br /></h3>
          </div>
          <div class="footer-col">
            <!--  iconos de redes sociales -->
            <h4>follow us</h4>
            <div class="social-links">
              <a href="https://www.facebook.com/"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://twitter.com/iniciarsesion?lang=es"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="https://www.instagram.com/"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://www.linkedin.com/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
